{% extends "base.html" %}
{% load mezzanine_tags %}
{% load crispy_forms_tags %}

{% block main %}{{ block.super }}
<div class="col-lg-8">
<div class="jumbotron">
<div class="container">
    {{ page.contactlandingpage.content|richtext_filters|safe }}
   <h3> <span class="glyphicon glyphicon-play pull-right"> </span></h3>
</div>
</div>
    {{ form.form.content|richtext_filters|safe }}
</div>
<div class="col-lg-4">
    <div class="jumbotron">
            <h3> {{ form.form.title|richtext_filters|safe}}</h3>
            <form class="form-horizontal contact-form" method="post">           
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
            </form>

    <button type="submit" class="btn btn-info btn-lg"> <span class=" glyphicon glyphicon-send"> </span> {{ form.form.button_text }} </button>
    <div class="small">* required</div>
    </div>
</div>
{% block rightgutter %}{% endblock %}
{% endblock %}